---
title: Demo
---

<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}

        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type=image/x-icon href=../assets/static/favicon.ico>
        <title>VidarDB</title>
        <link href=/assets/static/css/app.6bc6964e5025b7af940fd6daeb6f5a97.css rel=stylesheet>
    </head>
    <body>
        {% include nav.html %}
        <div id=app></div>
        <script type=text/javascript src=/assets/static/js/manifest.6dc37d5b2309db7c94ff.js></script>
        <script type=text/javascript src=/assets/static/js/vendor.16cb80e020c93259a4eb.js></script>
        <script type=text/javascript src=/assets/static/js/app.315346335e7bb764ee24.js></script>
    </body>
</html>

