---
title: Demo
---

<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <meta charset=utf-8>
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel="shortcut icon" type=image/x-icon href=assets/static/favicon.ico>
        <title>VidarDB</title>
        <link href=/assets/static/css/app.b8fa4467fd7c69c7baebc6993badeb4a.css rel=stylesheet>
    </head>
    <body>
        {% include nav.html %}
        <div id=app></div><script type=text/javascript src=/assets/static/js/manifest.6dc37d5b2309db7c94ff.js></script>
        <script type=text/javascript src=/assets/static/js/vendor.18ff7228e78c3006ccc3.js></script>
        <script type=text/javascript src=/assets/static/js/app.4909d3d728c0925cbb5b.js></script>
    </body>
</html>
