/* ---
   Landing: layout and general styles
   --- */
body.landing {
    // Override
    .site-nav {
        @extend .site-nav, .translucent;
        margin-bottom: 0;
        background: rgb(33, 71, 83);
    }

    h1 {
        @include font-size-rem(32);
        font-weight: 400;
    }

    #one-liner {
        @include font-size-rem(32);
        font-weight: 300;
    }

    .landing a { color: $teal; }

    // Stylized horizontal rule for sections
    hr.section-divider {
        $_size: rem(18);
        $_color: tint($base-font-color, 60%);
        height: 0;
        border-bottom: thin solid $_color;
        clear: both;
        position: relative;
        opacity: 0.5;
        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: -$_size/2*1.3;
            width: $_size;
            height: $_size;
            border: rem(2) solid $_color;
            outline: rem(11) solid $cream;
            background: $_color;
            margin: rem(3);
            @include transform(rotate(45deg));
        }
    }
}

/* ---
   Landing: hero wrapper
   --- */
.landing .hero-wrapper, body.landing .landing .hero-wrapper {
    @include background-image(linear-gradient(top, rgb(33, 71, 83) 0%, rgb(26, 81, 97) 50%,
        rgb(28, 80, 100) 81%, rgb(29, 79, 95) 100%));
    position: relative;
    z-index: 0;
    // height: 650px;

    // Top padding should at least the height of the navbar, proper offset
    padding-top: rem(100);

    &:before {
        background: url('/assets/images/landing/vidardb-white.png') 0 bottom no-repeat;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        opacity: 1;
        @include media($mobile) {
            background-size: auto 75%;
            // background-position: rem(-230) rem(70);
            background-position: center bottom;
        }
        @include media($medium-screen-up) {
            background-size: auto 90%;
            // background-position: rem(-160) rem(45);
            background-position: center bottom;
        }
        @include media($large-screen-up) {
            background-size: auto 100%;
            background-position: center bottom;
        }
    }
}

.landing .hero {
    color: $cream;
    text-align: center;
    overflow: hidden;
    padding: $base-spacing*2.25 0 $base-spacing*3;

    @include media($mobile) { padding: $base-spacing*2 0; }

    .hero-install {
        padding: $base-spacing*3 0 $base-spacing*1.5;

        a {
            // Extends the button (included to overcome css specificity)
            @extend .button;

            text-align: center;
            white-space: nowrap;
            @include font-size-rem(18);
            margin: 0 $base-spacing;
            padding: $base-spacing/1.5 inherit;
            width: rem(225);
            display: -moz-inline-box; // Fix for Mozilla -- display inline-block

            span {
                @include font-size-rem(15);
                display: block;
                font-family: $sans-serif-medium;
                font-weight: 500;
            }

            @include media($mobile) {
                margin: 0 $base-spacing/4;
                width: rem(200);
            }
        }
    }

    h1 {
        @include font-size-rem(46);
        line-height: rem(110);
        color: $cream;
        font-family: $sans-serif-semi-bold;
        font-weight: 600;
        margin: 0 auto;

        span {
            line-height: rem(75);
            font-family: $sans-serif;
            font-weight: 100;
            display: block;
        }

        @include media($mobile) {
            @include font-size-rem(31);
        }
    }

    .hero-release {
        @include font-size-rem(22);
        font-weight: 500;
        a {
            color: saturate($surf, 10);
            font-weight: 500;
            &:hover { color: $cream; }
        }
    }
}

/* ---
   Landing: social stats
   --- */
.landing .hero-notes {
    $_height: rem(30);
    background: rgba(24, 75, 90, 0.85);
    padding-bottom: $base-spacing/2;
    padding-top: $base-spacing/2;

    p {
        @include font-size-rem(16);
        line-height: rem(19);
        color: rgb(198, 222, 220);
        font-family: $sans-serif-medium;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
        padding-top: $base-spacing/5;
        a { color: rgb(198, 222, 220); }
        .headline-latest-release { font-weight: bold; }
        display: inline-block;
        margin-right: rem(25); // update to rem(40)
        &:last-child { margin-right: 0; }
        i { margin-right: rem(8); }
    }

    .social-wrapper {
        margin: 0 auto;
        max-width: 90%;
        text-align: center;
    }

    .site-container {
        padding-bottom: 0;
    }
}

/* ---
   Landing: shared typography styles for the intro & features
   --- */
.intro, .feature {
    position: relative;
    overflow: hidden;

    // Grid settings for intro content
    .intro-content, .intro-illustration, .feature-content-two, img { @extend .half; }

    // Alternating padding for even and odd content
    @include media($medium-screen-up) {
        .intro-content, .feature-content { padding-right: $base-spacing; }
    }
    @include media($large-screen-up) {
        .intro-content, .feature-content { padding-right: $base-spacing*3; }
    }

    // Mobile styles
    @include media($mobile) {
        .intro-content, &:nth-child(even) .feature-content,
        &:nth-child(odd) .feature-content { padding: $base-spacing/2 0; }
        img { margin: $base-spacing 0; }
    }

    p a { border-bottom: 1px dotted $cranberry; }

    pre {
        code {
          @include font-size-rem(13);
          font-family: $monospaced;
        }

        padding: 0.5rem 0.6rem;
        margin: $base-spacing 0 $base-spacing*2;

        .str { color: $teal; }
        .term { color: $cranberry; }
        .num { color: darken(#6DBDB7,1); }
    }
}

/* ---
   Landing: intro
   --- */
.landing .intro {
    background: white;
    padding-top: $base-spacing*1.5;

    .headline-latest-release { font-weight: bold; }
    @include media($mobile) { padding-top: $base-spacing*2; }

    &.modern-stacks {
        padding-top: $base-spacing*2;
        opacity: 1;
        .feature-content {
            @include outer-container;
            padding-right: 0;
            padding-top: $base-spacing*2;
        }

        article {
            @include omega-reset(2n);
            @include span-columns(5.5 of 12);
            @include omega(2n);
            // margin-right: rem(0);
            text-align: justify;
            height: rem(460);
            overflow: hidden;

            h2 {
                font-weight: 500;
                @include font-size-rem(20);
            }

            p:first-of-type {
                margin-top: rem(10);
            }
            img {
                float: none;
                width: 100%;
                margin-top: rem(25);
                margin-left: rem(10);
            }
            &:nth-child(even) { @include shift(1); }
            .vidardb-video {
                text-align: center;
                margin-top: rem(50);
                p {
                    height: 25px;
                }
                .vjs-poster {
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                }

                #my-player {
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    @include fill-parent;
                    max-height: 268px;
                    height: 268px;
                }
            }
        }

        @include media($mobile) {
            article, article:nth-child(even) {
                @include fill-parent;
                @include shift(0);
            }

            .vidardb-video {
                margin-top: rem(15);
                margin-bottom: $base-spacing*1;
                .vjs-poster {
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                }

                #my-player {
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    @include fill-parent;
                    max-height: 200px;
                    height: 120px;
                }
            }
        }
    }
}

/* ---
   Landing: VidarDB features
   --- */
.landing .feature {
    padding-top: $base-spacing*1.5;
    padding-bottom: $base-spacing*4;
    @include media($mobile) { padding: $base-spacing*2 0; }

    p {
        line-height: rem(25);
        margin: $base-spacing*1 0 0;
    }
    .button { margin-top: $base-spacing/2; }

    &.modern-stacks {
        padding-top: $base-spacing*2;
        padding-bottom: 0;
        opacity: 1;
        .feature-content {
            @include outer-container;
            padding-right: 0;
            padding-top: $base-spacing*1.5;
        }
        article {
            @include omega-reset(2n);
            @include span-columns(5.5 of 12);
            @include omega(2n);
            margin-bottom: $base-spacing*2;
            text-align: justify;

            border-bottom: thin solid rgb(236, 236, 236);
            height: rem(390);
            overflow: hidden;

            h2 {
                font-weight: 500;
                @include font-size-rem(20);
            }
            p:first-of-type {
                margin-top: rem(10);
            }
            img {
                float: none;
                width: auto;
                margin-top: rem(22);
                margin-left: rem(40);
            }
            &:nth-child(even) { @include shift(1); }

            // Properly sizing the illustrations
            &:nth-child(1) img {
                width: 80%;
                margin-top: rem(20);
            }
            &:nth-child(2) img {
                width: 80%;
                margin-top: rem(90);
            }
            &:nth-child(3) img {
                width: 80%;
                margin-top: rem(90);
            }
            &:nth-child(4) img {
                width: 80%;
                margin-top: rem(40);
            }
            &:nth-child(5) img {
                width: 80%;
                margin-top: rem(0);
                height: 69%;
            }
            &:nth-child(6) img {
                width: 80%;
                margin-top: rem(40);
            }
        }

        @include media($mobile) {
            article, article:nth-child(even) {
                @include fill-parent;
                @include shift(0);
                margin-bottom: $base-spacing*2;
            } 
            article:nth-child(5) img {
                height: 60%;
            }
        }
    }
}

.landing .ai-feature {
    padding-top: $base-spacing*1.5;
    padding-bottom: $base-spacing*1;
    @include media($mobile) { padding: $base-spacing*2 0; }
    background-color: #fff;
    height: rem(500);

    h1 {
        margin-bottom: 20px;
    }

    &.modern-stacks {
        padding-top: $base-spacing*2;
        padding-bottom: 0;
        opacity: 1;

        article {
            margin-bottom: $base-spacing*1;
        }

        .feature-content {
            @include outer-container;
            padding-right: 0;
            padding-top: $base-spacing*1.5;
        }

        .column-left {
            width: 33%;
            left: 0;
            position: absolute;
        }
        .column-center {
            width: 33%;
            margin-left: 32%;
            position: absolute;
        }
        .column-right {
            width: 33%;
            right: 0;
            position: absolute;
        }

        @include media($mobile) {
            // div, div:nth-child(n) {
            //     @include fill-parent;
            //     @include shift(0);
            //     height: rem(280);
            //     margin-bottom: $base-spacing*2;
            // }

            height: rem(280);
            .column-center {
                margin-left: 30%;
            }
            h4 {
                @include font-size-rem(9.5);
            }
        }
    }
}

/* ---
   Landing: example use cases
   --- */
.landing .explain-section {
    background: rgb(241, 245, 245);
    position: relative;
    padding-top: $base-spacing*1.5;
    padding-bottom: $base-spacing*1.5;
    // text-align: justify;

    p {
        line-height: rem(25);
        margin: $base-spacing*1 0 0;
    }

    .half_container { width: 48%; float: left; }
    .half_container_divider { margin-left: 4%; }
    .half_container_image { width: 30%; float: left; }
    .half_container_image img { width: 100%; }
    .half_container_text {
        width: 65%;
        float: right;

        h2 {
            font-weight: 500;
            @include font-size-rem(20);
        }
    }
    .boxes_divider { display: none; }
    .three_container { width: 30%; vertical-align: top; text-align: center; float: left; }
    .three_container_divider { width: 5%; vertical-align: top; height: 5px; float: left; }
    .small_print { font-size: 14px; color: #b9b9b9; }
    .regular_divider { width: 100%; clear: both; height: 0px; margin-top: 48px; display: inline-block; }

    @include media($mobile) {
        .half_container, half_container_divider {
            @include fill-parent;
            @include shift(0);
            height: rem(200);
            margin-bottom: $base-spacing*2;
        }
        .boxes_divider, .regular_divider {
            display: none;
        }
    }
}

/* ---
   Landing: community
   --- */
.landing .community {
    padding: $base-spacing*4.5 0;
    background: $cream;
    > h1 {
        margin-bottom: $base-spacing*4.5;
        text-align: center;
        @include font-size-rem(36);
    }

    h2 {
        @include font-size-rem(18);
        font-family: $sans-serif-semi-bold;
        font-weight: 600;
        margin-bottom: $base-spacing/4;
    }
    // Mobile
    @include media($mobile) {
        h1 { margin-bottom: $base-spacing*2; }
        padding: $base-spacing 0;
    }
}
