<!-- site footer -->
<footer class="site-footer">
    <div class="site-container">
        <section class="get-started">
            <h1>Join vidardb developers</h1>
            <p>Install in seconds on Linux or OS X.</p>
            <a class="button small install" href="//{{ site.address }}/docs/run_vidarDB_in_docker/">Install</a>

            <hr>
            <section class="contact-info">
            </section>
        </section>
        <ul class="footer-links">
            <li>
                <header>
                    <span>Getting started</span>
                </header>
                <ul>
                    <li><a href="//{{ site.address }}/docs/faq/">FAQ</a></li>
                </ul>
            </li>
            <li>
                <header>
                    <span>Documentation</span>
                </header>
                <ul>
                    <li><a href="//www.vidardb.com/docs">Doc</a></li>
                </ul>
            </li>
            <li>
                <header>
                    <span>Community</span>
                </header>
                <ul>
                    <li><a href="//{{ site.repo }}">GitHub</a></li>
                    <li><a href="//vidardb.slack.com">Slack</a></li>
                </ul>
            </li>
            <li>
                <header>
                    <span>VidarDB</span>
                </header>
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
        <p class="github-footer"><i class="icon-github-footer"></i><a href="//{{ site.repo }}/vidardb">Star this project</a> on GitHub.</p>
    </div>
</footer>
