<footer class="site-footer">
  <div class="container">
    <p style="margin-top: 15px; font-size: 14px;">&#169; {{ site.time | date: '%Y' }}. VidarDB, all rights reserved. &nbsp;&nbsp;&nbsp;&nbsp; <a href="/about/">About</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact/">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascript/anchor.min.js"></script>
<script
    id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4e94372016af846855c8b56a0/05fca2d932c17546d46cfa6c1.js");
</script>
<script>
  anchors.options = {
  placement: 'right',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>

