<nav class="navbar navbar-expand-lg navbar-dark bg-dark mdg-nav">
  <div class="container">
    <a class="navbar-brand" href="/" style="margin-top: 1px; margin-bottom: 1px">
      <img src="/assets/images/vidardb-head-white.svg" height="26" class="d-inline-block align-top" alt="" style="margin-top: 0px; padding-right: 4px"> VidarDB </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="margin-top: 2px">
      <div class="navbar-nav">
      </div>
    </div>
    <form class="form-inline d-none d-lg-inline-block mt-2 mt-md-0">
    </form>
  </div>
</nav>
