{% assign active=' class="active"' %}
<!-- site nav -->
<nav class="mobile-menu push-menu-right">
    <ul>
        <li class="menu-trigger"><a href="/">Close</a></li>
        <li><a href="//{{ site.repo }}/vidardb">Product</a></li>
        <li><a href="/">Demo</a></li>
        <li><a href="//{{ site.address }}/docs">Doc</a></li>
        <li><a href="/">FAQ</a></li>
    </ul>
</nav>
<nav class="site-nav">
    <div class="site-container">
        <a class="logo" href="/">VidarDB</a>
        <ul>
            <li class="menu-trigger"><a href="/"><img class="menu-trigger-icon" src="/assets/images/icons/icon-menu-white.png"></a></li>
            <li{% if page.docs_active == 'Product' %}{{ active }}{% endif %}><a href="//{{ site.repo }}/vidardb">Product</a></li>
            <li{% if page.active == 'Demo' %}{{ active }}{% endif %}><a href="/">Demo</a></li>
            <li{% if page.active == 'Doc' %}{{ active }}{% endif %}><a href="//{{ site.address }}/docs">Doc</a></li>
            <li{% if page.active == 'FAQ' %}{{ active }}{% endif %}><a href="/">FAQ</a></li>
        </ul>
    </div>
</nav>
